*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-size: 62.5%;
}

body {
    background-image: url("./images/bg-pattern.svg");
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.9rem 3.2rem 6.4rem;
    background-image: url("./images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #293356;
}

p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.77;;
    color: #848ead;
    text-align: center;
    margin-top: 0.8rem;
}

/*main*/
main {
    display: flex;
    justify-content: center;

}

.main-content {
    background-color: #fff;
    padding: 32px 24px;
}


h2 {
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 1.71px;
    color: #848ead;
    text-align: center;
}

#slider {
    appearance: none;
    color: black;
    background: linear-gradient(to right,#a4f3eb 50%, #cfd8ef 50%);
    height: 8px;
    border-radius: 5px;
    width: 27.9rem;
    cursor: pointer;
    background: url("./images/icon-slider.svg");
}